@model Contact

@{
    ViewData["Title"] = "İletişim";
}

<hr />

<div class="row">
    <div class="col-md-4">
        <h4>Bize Mesaj Gönderin</h4>
        <hr />

        <form asp-action="ContactUs">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                
                <button type="button" class="btn btn-primary" onclick="iletisim_formu()"> Gönder </button>
            </div>
        </form>
        @Html.Raw(TempData["Mesaj"])
    </div>


    <div class="col-md-4">   

        <h4>Harita</h4>
        <hr />


    </div>
    


    <div class="col-md-4">   
        <h4>Bize Ulaşın</h4>
        <hr />
        <p>
            Adres :  Çayağzı Mah. Artvin San. Sit. D Blok Artvin Merkez, Artvin

        </p>

        <p>
            Email: <a href="mailto:ustaelticaret@hotmail.com ">ustaelticaret@hotmail.com </a>
        </p>

        <p>
            Telefon : 0466 212 32 89
                       
        </p>

        <p>
            Cep: 0532 624 12 70
        </p>

    </div>

</div>

<div id="sonuc" class="alert alert-info" style="display: none" ></div>

@section Scripts {
    <script>

        function iletisim_formu(){
            var ad= $("#Name").val();
            var soyad = $("#Surname").val();
            var email= $("Email").val();
            var telefon = $("#Phone").val();
            var mesaj = $("#Message").val();

            var message={
                "Name" : ad,
                "Surname" : soyad,
                "Email" : email,
                "Phone": telefon,
                "Message": mesaj
             };

             $.ajax({

                 method : "POST",
                 url: "/iletisim",
                 type: "json",
                 data: message,
                 success : function(data){
                     console.log(data)
                     document.getElementById("iletisim_formu").reset();
                    $("#sonuc").show().html("Mesajınız Gönderilmiştir..")
                 },

                 error: function(err){
                    $("#sonuc").show().html("Mesajınız Gönderilemedi")
                 }

             });
        }


    </script>
   
}
